version: "3.9"

services:
  vault-k8s-workshop:
    container_name: vault-k8s-workshop
    image: utkusarioglu/tf-k8s-devcontainer:1.2.18
    environment:
      TZ: Etc/UTC0
      VOLUMES_ROOT: ${HOME}/dev/volumes/vault-kubernetes-workshop
      CLUSTER_REGION: us-east-1
      VAULT_ADDR: http://vault-k8s.workshops.utkusarioglu.com:8200
    extra_hosts:
      vault-k8s.workshops.utkusarioglu.com: host-gateway
    volumes:
      - type: bind
        source: ..
        target: /utkusarioglu-com/workshops/vault-k8s
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
